<form (ngSubmit)="onSignup(f)" #f="ngForm">
    <mat-form-field class="full-width">
      <!--<label for ="email">Mail</label>-->
      <input matInput placeholder="Email" type="email" id="email" name="email" ngModel required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <!--<label for ="password">Password</label>-->
      <input matInput placeholder="Password" type="password" id="password" name="password" ngModel required>
    </mat-form-field>
    <mat-card-actions class="button">
      <button mat-raised-button class="primary" type="submit" [disabled]="!f.valid">Register</button>
    </mat-card-actions>
  </form>
